.container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}




.box {
    padding: 20px 50px;

}

.rosa {
    background: pink;
    grid-column: 2;
    grid-row: 1;
}

.azul {
    background: blue;
    grid-column: 1;
    grid-row: 1/3;
}

.naranja {
    background: orange;
    grid-column: 2;
    grid-row: 2;
}