div {
    background-color: red;
    width: 300px;
    height: 300px;
    transition: width 2s, height 2s, background 1s, font-size 4s;
}

div:hover {
    width: 1000px;
    height: 1000px;
    font-size: 20em;
    background-color: blue;
}

p {
    margin: 0;
}