@font-face {
    font-family: fuente;
    src: url(./fuente.woff);
}

body {
    font-family: fuente;
    margin: 0px;
}

.green {
    background-color: #1e7f6ca5;
    position: fixed;
    width: 100%;

}


.container {

    width: 1024px;
    margin: auto;
}

.menu {
    margin: 0px;
    padding: 0px;
    gap: 150px;
    display: flex;
    justify-content: center;

}

.menu li {
    margin-left: 0;
    display: inline-block;
}

.menu li a {
    font-size: 1em;
    display: block;
    color: white;
    text-decoration: none;
    padding: 30px;

}

.grey {
    width: 100%;
    height: 400px;
    display: flex;
    padding-top: 100px;
    display: block;
    background-color: #333333;
}

.title {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 4em;
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
}

.subtitle {
    margin-top: 0px;
    font-weight: 1em;
    display: block;
    color: white;
    text-align: center;

}

.hierba {
    background-image: url(./pic01.jpg);
    height: 400px;
}



.flex {

    display: flex;
}

.colleft {
    width: 50%;
    padding: 0px;
    justify-content: left;
}

.colright {
    width: 50%;
}

.h3left {
    text-align: left;
    color: #68A789;
}


.h3right {

    vertical-align: top ;
    text-align: left;
    margin: 40px;
}

.greyparagraf {
    color: #C7BFD7;
    font-weight: bold;
}


.midmenu {
    list-style: none;
    text-decoration: none;
}

.midmenu li {
    padding-bottom: 20px;
    text-align: left;
}

a {
    color: black;

}

p {
    text-align: justify;
}

.black {
    background-color: #1E1B1A;
}

.col {
    margin-top: 0px;
    box-sizing: border-box;
    display:inline-block;
    flex-direction: column;
    width: 33%;
    height: 500px;

}


.col ul{
    margin: auto;
    padding: 0px;
}

.col h1{
    color: white;
    text-align: center;
}

.col li {
    color: grey;
    list-style: none;
}

.col p {
    color: white;
    font-weight: bold;
    text-align: justify;
}

.logo {
    gap: 50px;
}
