body {
    margin: 0px;
    background-color: beige;
}

.container {
    border-top: 1px black solid;
    display: flex;
}


img {
    border-bottom: 1px black solid;
    padding: 30px 10px
}

ul {
    margin-top: 20px;
    list-style: none
}


a {
    color: black;
    text-decoration: none;
}

.column1 {
    margin-left: 150px;
    height: 200px;
    border-bottom: 1px, black solid;
}

.column2 {
    border-left: 1px black solid;
    padding: 25px;
}

p {
    font-size: 1.2em;
}