.container {
    position: relative;
}


li {
    list-style: none;
    text-decoration: none;
}

a {

    position: absolute;


}


.img {
    background-color: red;
    display: none;
}




span:hover {
    background-image: url(https://pablomonteserin.com/termine/monteserin-avatars/deadpool.png);
    width: 210px;
    height: 210px;
    display: block;
}