.container {
    position: relative;
}


li {
    list-style: none;
    text-decoration: none;
}

a {

    position: absolute;
    width: 100px;
    margin: 20px 20px;

}


.img {
    background-color: red;
    display: none;
}




.img:hover {
    background-image: url(https://pablomonteserin.com/termine/monteserin-avatars/deadpool.png);
    display: block;
}