.cosas {
    width: 100%;
    opacity: 1;
}


.negro {
    background-color: black;
    position: relative;
    width: 200px;
    height: 200px;

}

.negro p {
    position: absolute;
    color: white;
    top: 30px;
    opacity: 0;
    font-size: 2rem;
    text-align: center;
}



.negro img {
    width: 100%;
    opacity: 0.5;
}

.negro:hover {
    opacity: 0.5;
}

.negro:hover p {
    opacity: 1;
}