.container {
    background-color: rgb(212, 208, 208);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}


img {
    display: block;
    margin: auto;

    width: 70px;
    margin-bottom: 20px;
}


.box {
    background-color: aquamarine;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 15px;
}