ul {
    display: flex;
    list-style: none;
    padding: 20px;
}


ul li {}


ul a {
    display: block;
    box-shadow: 2px black solid;
    color: white;
    font-weight: bold;
    text-decoration: none;

    border: red 2px solid;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    background-image: url(https://pablomonteserin.com/termine/monteserin-avatars/deadpool.png), linear-gradient(to bottom, rgba(255, 0, 0, 0.774), rgba(2, 91, 2, 0.831));
    background-repeat: no-repeat;
    background-position: 50, 0, 0, 0;
    transition: 2s;

}


ul a:hover {
    padding: 20px;
    background-position: -50px center;
    transition: 2s;
}