body {
    background-color: burlywood;
}



.container {
    display: flex;
    width: 100%;
    height: 100%;
}


h1 {
    background-color: purple;
    font-size: 2em;
    letter-spacing: 20px;
    color: blue;
    text-align: right;
}